

/* ===========================
   ======= Body style ======== 
   =========================== */
   
}
	
.body {
	clear: both; 
	margin: 0 auto; 
	width: 100%;
}





   
/* ===========================
   ===== Main Navigation ===== 
   =========================== */
   
.mainHeader nav {
	background: #333;
	font-size: 1.5em;
	height: 91px;
	width: 100%;
	line-height: 30px;
	margin: 0 auto 30px auto;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	 display: inline-block;
   

	
}
	
.mainHeader nav ul {
	list-style: none; 
	margin: 0 auto;

}

.mainHeader nav ul li {

	 display: inline-block;
      *float:left
}
	
.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 29px 23px;
	text-decoration: none;
}
.mainHeader nav li a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background: #588D17;
	color: #fff;

	

	text-shadow: none !important;
}
	
.mainHeader nav li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader img {
	height: auto;
	margin:  0;
	float: left;
}

	

	
}
	


/* ===========================
   ======= Content Area ====== 
   =========================== */



.topcontent {
	background-color: #588D17 ;
	margin: 5%;
	padding: 3% 5%;	
	
}




