

/* ===========================
   ======= Body style ========
   =========================== */

body {
	background-image: url('../img/bg.jpg');
	background-size: cover;
		background-repeat: no-repeat;

	color: #fff;
	font-size: 90.5%; /* Base font size: 14px */
	font-family: 'Open Sans', sans-serif;
	line-height: 1.429;
	margin: 0 auto;
	padding: 0;
	text-align: left;
	}

.body {
	clear: both;
	width: 100%;
}

/* ===========================
   ========= Headings ========
   =========================== */
h2 {font-size: 1.9em; letter-spacing:2px}	/* 25px */
h3 {font-size: 1.429em}	/* 20px */
h4 {font-size: 1.286em}	/* 18px */
h5 {font-size: 1.143em}	/* 16px */
h6 {font-size: 1em}		/* 14px */

h2, h3, h4, h5, h6 {
	font-weight: 500;
	line-height: 1.1;
	margin-bottom: .8em;
	font-family: 'Open Sans Condensed', sans-serif;
}

/* ===========================
   ======= Anchor style ======
   =========================== */
a {
	outline: 0;
	}

a img {
	border: 0px;
	text-decoration: none;
}

a:link, a:visited {
	color: #FFF;
	padding: 0 1px;
	text-decoration: none;
	text-transform: uppercase;
}

a:hover, a:active {

	color: #588D17;	text-decoration: underline;
}

/* ===========================
   ===== Main Navigation =====
   =========================== */

.mainHeader nav {
	background: #333;
	font-size: 1.5em;
	height: 91px;
	width: 100%;
	line-height: 30px;
	margin: 0 auto 30px auto;
	text-align: center;
	font-family: 'Open Sans Condensed', sans-serif;
	overflow: hidden;


}
.icon li {
    display: none;
}

.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;

}

.mainHeader nav ul li {
	float: left;
	display:block;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #fff;
	display: block;
	height: 30px;
	padding: 29px 23px;
	text-decoration: none;
}
.mainHeader nav li a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
	background: #588D17;
	color: #fff;

}

.mainHeader nav li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.mainHeader img {
	height: auto;
	margin:  0;
	float: left;
}

/* ===========================
   ======= Content Area ======
   =========================== */

.mainContent {
	overflow: hidden;
	line-height: 25px;


}

.topcontent {
	background-color: rgba(88, 141, 23, .54);
	margin: 5%;
	padding: 3% 5%;

}



.content {
	width: 68%;
	float: left;
	border-radius: 5px;

}

.post-info {
	font-style: italic;
	color: #999;
	font-size: 85%;
}



/* ===========================
   ====== Media Queries ======
   =========================== */

@media only screen and (min-width : 150px) and (max-width : 767px)
{

	body {

	background-image: url('../img/bg.jpg');
	background-size: cover;
	background-repeat: no-repeat;

}

	.body {
		clear: both;
		margin: 0 auto;
		width: 100%;
		font-size: 100%;
	}

	.mainHeader nav {
	background: rgba(51, 51, 51, 0.377);
		font-size: 1.45em;
		height: 330px;
		font-weight: bold;
		line-height: 30px;
		margin-bottom: 0;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

	.mainHeader nav ul {
		list-style: none;
		margin: 0 auto;
		padding-left: 0;
	}

	.mainHeader nav li {
		margin-left: 0 auto;
		width: 100%;
	}

	.mainHeader nav a:link, .mainHeader nav a:visited {
		color: #FFF;
		display: block;
		height: 30px;
		padding: 5px 0;
		text-decoration: none;
	}

	.mainHeader nav a:active,
	.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
		background: #588D17;
		color: #fff;
		text-shadow: none !important;
	}

	.mainHeader nav li a {
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;

		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

	.mainHeader img {

		width: 100%;
		max-width: 309px;
		float: left;
		height: auto;
		text-align: center;
		margin-left: 20px;

	}

	.mainContent {
		overflow: hidden;
		line-height: 25px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin-top: 4%;
		margin-bottom: 2%;

	}

.topcontent {
	background-color: rgba(88, 141, 23, .54);
	margin: 4% 1%;
	padding: 3% 5%;
	width: 100%;

}
article.topcontent{
	width: 90%;
}


	.content {
		width: 100%;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

	.post-info {
		display: none;
	}


}



@media only screen and (min-width : 768px) and (max-width : 999px)
{

	body {

	background-image: url('../img/bg.jpg');
	background-size: 110% 190%;
	background-repeat: no-repeat;

}

	.body {
		clear: both;
		margin: 0 auto;
		width: 100%;
		font-size: 100%;
	}

	.mainHeader nav {
	background: #333;
	font-size: 1.3em;
	height: 90px;
	width: 100%;
	line-height: 30px;
	margin: 0 auto 30px auto;
	text-align: center;



}

.mainHeader nav ul {
	list-style: none;
	margin: 0 auto;

}

.mainHeader nav ul li {
	float: left;
	display: block;
}

.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 30px 5px;
	text-decoration: none;
}
.mainHeader nav li a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
		display: inline-block;
	background: #588D17;
	color: #fff;




	text-shadow: none !important;
}

.mainHeader nav li a {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

	.mainHeader img {

		width: 100%;
		max-width: 309px;
		float: left;
		height: auto;
		text-align: center;


	}

	.mainContent {
		overflow: hidden;
		line-height: 25px;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
		margin-top: 4%;
		margin-bottom: 2%;

	}

.topcontent {
	background-color: rgba(88, 141, 23, .54);
	margin: 4% 1%;
	padding: 3% 5%;
	width: 90%;
}



	.content {
		width: 100%;
		float: left;
		border-radius: 5px;
		-moz-border-radius: 5px;
		-webkit-border-radius: 5px;
	}

	.post-info {
		display: none;
	}


}
@media only screen
and (min-device-width : 768px)
and (max-device-width : 1024px)
and (orientation : landscape) {

	body{
		background-size: 120%;
}

	}


@media only screen and (min-width : 1024px) and (max-width : 2000px)
{
.mainHeader nav a:link, .mainHeader nav a:visited {
	color: #fff;
	display: inline-block;
margin-top: 30px;
	padding: 10px;
	text-decoration: none;
}
.mainHeader nav li a:hover, .mainHeader nav a:active,
.mainHeader nav .active a:link, .mainHeader nav .active a:visited {
		display: inline-block;
	background: #588D17;
	color: #fff;
}
.fa li {
    display: none;
}
}
